@charset "utf-8";
body {margin:0 auto;padding:0;text-align:center;font:12px sans, "微软雅黑", Arial, Helvetica, sans-serif;color:#000;line-height:25px;}
img {border:0px;}
form{margin:0;padding:0;}
ul,li,img,form,p,h1,h2,h3,h4,h5,dl,dd,dt{margin:0; padding:0;}
ol,ul,li{list-style:none;}
article,aside,footer,header,nav,section {display:block;}
a:link{text-decoration:none;color:#003173;}
a:visited{text-decoration:none;color:#003173;}
a:hover{text-decoration:none;color:#042046;}
a:active{text-decoration:none;color:#003173;}
a {outline: none;}
a:active {star:expression(this.onFocus=this.blur());}