/**
* @author	    :ru
* @version	    :1.0
* @description	:全局样式
/* @end **/

/*====== reset ====== */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}:focus{outline:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ul,ol{list-style:none outside none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

/*====== fonts ====== */
body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif;}table{font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}

/* ====== clearfix ====== */
.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix{*zoom:1;}
	
/* ====== links ====== */
a{/*color:#036;*/color:#737373;text-decoration:none;}
a:hover{/*text-decoration:underline;*/ text-decoration:none; color:#f30;}
	
/*====== grids - 网格 ====== */
.line,.last{overflow:hidden;_overflow:visible;_zoom:1;}
.size1of2,.size1of3,.size2of3,.size1of4,.size3of4,.size1of5,.size2of5,.size3of5,.size4of5 {float:left; _display:inline;}
.size1of1{float:none;}
.size1of2{width:50%;}
.size1of3{width:33.33333%;}
.size2of3{width:66.66666%;}
.size1of4{width:25%;}
.size3of4{width:75%;}
.size1of5{width:20%;}
.size2of5{width:40%;}
.size3of5{width:60%;}
.size4of5{width:80%;}
.last{display: table-cell; *display:block;*zoom:1;float:none;_position:relative; _left:-3px; _margin-right: -3px;width:auto;}
.wrap{width:960px; margin:0 auto;}


/*======* headings ====== */
h1,.h1{font-size:196%;}
h2,.h2{font-size:14px;}
h3,.h3{font-size:13px;}
h4,.h4{font-size:12px;}
h5,.h5{font-size:108%;}
h6,.h6{font-size:108%;}

/* ====== elements ====== */
img{display:block;}
em{font-style:italic;}
strong{font-weight:bold;}
hr{border:5px solid #e2e2e2; border-width: 0 0 5px 0; margin: 20px 10px 10px 10px;}

/* ====== tables ====== */



/* ====== forms ====== */
.text{padding:5px; border-color:#bdbdbd #d9d9d9 #d9d9d9 #bdbdbd;border-width:1px;border-style:solid;background-color:transparent;}

/* ====== generals - 通用 ====== */
.tl{text-align:left;}
.tr{text-align:right;}
.tc{text-align:center;}
.fl,.subFl li{float:left;_display:inline;}
.fr{float:right;_display:inline;}
.clear{clear:both; display:block; font-size:0; line-height:0; height:0; overflow:hidden;}
.z{overflow:hidden;#zoom:1;}
.b{font-weight:bold;}
.normal{ font-style:normal;font-weight:normal;}
.mod{/*margin:10px;*/padding:10px;}
.hide{display:none;}
.time{font-size:11px;color:#999;}
.high_light{color:#d54e4e;}
  	
.odd{background:#fff;}
.even{background:#f5f5f5;}
.table_h{background:#ebebeb;}
.box_5 p,.box_5 dd{ margin:5px 0;}
.box_10 p,.box_10 dd{ margin:10px 0;}
.the_last{ background:none;}
.radius{ display:block; font-size:0; background-position:top center;}
.radius_b{ background-position:bottom center;}	